* {box-sizing: border-box;}
body {
    display: flex;
}
.buttonDiv {
    width: 80px; 
    height: 40px; 
    border-radius: 10px;
    margin: 5px;
    font-size: x-small;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    position: fixed;
    width: 200px;
    height: 98%;
    border-style: solid;
    border-width: 1px;
}
main {
    float: left;
    width: 100%;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
#snackbar.show {
    visibility: visible; /* Show the snackbar */
}
.inputWithCopyWrapper {
    position: relative;
    display: inline;
}
.inputWithCopyWrapper input {
    height: 22px;
}
.inputWithCopyWrapper button {
    position: absolute;
    top: -2px;
    right: -16px;
    width: 40px;
    height: 22px;
}
.section {
    padding: 30px; 
    border-style: solid; 
    border-width: 1px;
    border-color: gray;
    margin-bottom: 8px;
    position: relative;
}
.mailbox_copypastas_privileges {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: inline-block; /* makes the thing take only as much space as it's children need */
    height: 50px;
}
.mailbox_copypastas_privileges.right {
    float: inline-end;
}
.mailbox_copypastas_privileges button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 90px;
    height: 100%;
}
.mailbox_copypastas_privileges button:hover {
    background-color: #ddd;
}
.mailbox_copypastas_privileges button.active {
    background-color: #ccc;
}
.mailbox_copypastas_privileges div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    height: 100%;
    width: 100px;
    text-align: right;
}
.mailbox_copypastas_privileges .grant {background-color: #d1ffe6;}
.mailbox_copypastas_privileges .revoke {background-color: #ffd1d1;}